<div class="col-4 mb-3">
   
    <div class="card btn"
    onclick="agregarProductos('{{this.nombre}}')"
      data-bs-toggle="modal" data-bs-target="#productModal">
        <h4 class="card-title d-flex justify-content-center b-5">{{ this.nombre }}</h4>
        <img src="assets/imgs/product/{{this.nombre}}.png" class="card-img-top " alt="...">
    </div>
    </a> 
</div>

